/* FONTS USED */

@font-face {
  font-family: 'Oswald-medium';
  src: url('../fonts/Oswald-VariableFont_wght.woff') format('woff');
  src: url('../fonts/Oswald-VariableFont_wght.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Oswald-regular';
  src: url('..//fonts/Oswald-VariableFont_wght.woff') format('woff');
  src: url('../fonts/Oswald-VariableFont_wght.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat-regular';
  src: url('../fonts/Montserrat-VariableFont_wght.woff') format('woff');
  src: url('../fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

h1,
h2,
h3 {
  font-family: 'Moon Dance', cursive;
}

h1 {
  font-size: 3rem;
}

:root {
  font-family: 'Montserrat-regular';
  color: white;
}

/* --- --- --- --- --- */

* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/yosh-ginsu-qexZLgMcbPc-unsplash.jpg');
  background-repeat: no-repeat;
  background-color: orangered;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
main,
footer {
  padding: 0 1rem;
}
