/* SPECIFIC STYLING */

.room-previews {
  width: 100%;
  height: auto;
  display: grid;
  grid-template: 1fr / 1fr;
}

.room {
  display: grid;
  align-items: end;
  grid-template: 1fr / 1fr 1fr;
}

.room-invisible {
  display: none;
}

.room-image-container {
  width: 65%;
  height: 50vh;
}

.room-image {
  width: 100%;
  height: 100%;
  border: 5px solid antiquewhite;
  object-fit: cover;
  object-position: center;
}

table {
  height: 50vh;
  border: 5px solid antiquewhite;
}

.booking-form {
}

/* --- --- --- --- --- */

/* UNIVERSAL CLASSES */

/* --- --- --- --- --- */
